---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AlwaysBreakAfterReturnType: AllDefinitions
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
ColumnLimit: 100