# Recordings this repository may not carry are NEVER committed — they are pulled
# by scripts/fetch_corpus.py (pinned SHA-256, license-gated) into fetched/ per
# the manifest's `storage: "fetch"` rows. Their manifest row stays, and carries
# the measurements taken from them, which is what the corpus splits on:
# redistribution, never worth (docs/roadmap/recorded-motion-sources.md §8).
#
# The whole directory, not a list of extensions. What lands here is decided by a
# manifest row and is under someone else's licence, so the ignore has to be
# wider than what this repository currently expects to find — an extension list
# fails open, and it fails open on exactly the bytes that must not be committed.
#
# redistributable/ is the other half and is tracked, not matched here.
fetched/
